@charset "utf-8";
* {margin: 0; padding: 0; border:0 none; outline:none; -webkit-tap-highlight-color:rgba(255,255,255,0)}
html {height: 100%;}
body {width:100%; min-height:100%; font-family:"microsoft yahei","黑体",Arial, Helvetica, sans-serif; font-size: 0.24rem; color:#888;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}



.backImg{height:0.8rem;width:0.8rem;background:url('../images/backTop.png') no-repeat left top; background-size:100% 100%; position:fixed; right:0.2rem; bottom:0.6rem;z-index:100; display:none;}

#content{min-height:100%; width:100%; background:#f2f2f2; }
#content .part{height:3.04rem; width:100%;margin-bottom:0.2rem;background:#fff;box-sizing: border-box; -webkit-box-sizing: border-box; padding:0 0.24rem;}
#content .part .title{display:block;height:0.32rem;padding:0.24rem 0.08rem;position:relative;}
#content .part .title .warnImg{ height:0.3rem; width:0.17rem; position:absolute;right:0.1rem;top:0.25rem; }
#content .part .title .title_txt{float:left; height:0.32rem; width:100%; line-height:0.32rem; font-size:0.28rem; color:#333; border-left:0.04rem solid #ff6f33; padding-left:0.14rem; box-sizing: border-box; -webkit-box-sizing: border-box;}
#content .part2 .title .title_txt{border-left:0.04rem solid #338eff;}
#content .part3 .title .title_txt{border-left:0.04rem solid #ea216a;}
#content .part .swiper-container{height:2.0rem; width:100%;}
#content .part .swiper-container .swiper-slide{float:left; height:100%;width:100%; background:#ff6f33; border-radius: 6px;}

#content .part4{height:4.06rem; width:100%; background:#fff; border-bottom:1px solid #e9e9e9;}
#content .part4 .title{display:block;height:0.32rem; padding:0.24rem; border-bottom:1px solid #e9e9e9; position:relative;}
#content .part4 .title .title_txt{float:left; height:0.32rem; padding-left:0.14rem; line-height:0.32rem; font-size:0.28rem; color:#333;border-left:0.04rem solid #32B670;}
#content .part4 .title .warnImg{height:0.3rem; width:0.17rem; position:absolute;right:0.34rem;top:0.25rem;}
#content .part4 .games{height:3.26rem; width:100%; display:flex; display:-webkit-flex; }
#content .part4 .games .game{flex:1; -webkit-flex:1; box-sizing:border-box; -webkit-box-sizing: border-box; padding-top:0.24rem; }
#content .part4 .games .game2{border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
#content .part4 .games .game .game-img{height:1.28rem; width:1.28rem; margin:0 auto; margin-bottom:0.06rem; border-radius:10px;}
#content .part4 .games .game .txt1{height:0.56rem; line-height:0.56rem; text-align:center; font-size:0.28rem;color:#3c3c3c; }
#content .part4 .games .game .txt2{height:0.24rem; line-height:0.24rem; text-align:center; font-size:0.24rem;color:#888; margin-bottom:0.18rem; }
#content .part4 .games .game .txt2 span{color:#ff6f33;}
#content .part4 .games .game .txt3{height:0.46rem; width:0.94rem; line-height:0.5rem; text-align:center; font-size:0.24rem; color:#ffb033; border:1px solid #ffb033; background:#fffaf3; border-radius:0.46rem; margin:0 auto;}

#content .bottom{height:0.8rem; width:100%; background:#fff;  }
#content .bottom .moreBtn{height:0.44rem; width:2.8rem; padding:0.18rem 0; margin:0 auto;}
#content .bottom .moreBtn .left{float:left;height:1px;width:0.32rem; background:#abadb3; margin-top:0.11rem; opacity:0;}
#content .bottom .moreBtn .middle{float:left;height:0.44rem;width:2.16rem;line-height:0.44rem;text-align:center;font-size:0.28rem; color:#000;}
#content .bottom .moreBtn .right{float:right;height:1px;width:0.32rem; background:#abadb3; margin-top:0.11rem; opacity:0;}

#content .con-hide{display:none;}

#content .moreBox{background:#fff;}
#content .lists{min-height:1.28rem;padding:0 0.2rem; }
#content .lists .list{display:block;height:1.28rem;padding:0.2rem 0;position:relative;}
#content .lists .list:after{display:block;content:"";height:0;width:100%;border-bottom:1px solid #ededed;position:absolute;left:0;bottom:0;transform: scaleY(0.5); -webkit-transform: scaleY(0.5);}
#content .lists .list .game_img{float:left;height:1.28rem;width:1.28rem;border-radius:10px;}
#content .lists .list .middle{float:left;height:100%;width:2.8rem;padding-left:0.2rem;}
#content .lists .list .middle .game_name{float:left;width:100%; line-height:0.5rem;font-size:0.28rem;text-align:left;color:#000;}
#content .lists .list .middle ._des{float:left;width:100%; line-height:0.28rem;font-size:0.24rem;text-align:left;color:#8f8f8f;}
#content .lists .list .middle .download_count{float:left; width:100%; line-height:0.5rem;font-size:0.24rem;text-align:left;color:#8f8f8f;}
#content .lists .list .middle .download_count ._num{color:#ff906a;}
#content .lists .list .download{float:right;margin-top:0.35rem;height:0.58rem;line-height:0.58rem; width:1.18rem; text-align:center; border:1px solid #ffc262; background:#fffaf3; color:#ffb033; border-radius: 0.3rem;}

#content .moreBox .games{height:3.26rem; width:100%; display:flex; display:-webkit-flex;  position:relative;}
#content .moreBox .games:after{display:block;content:"";height:0;width:100%;border-bottom:1px solid #ededed;position:absolute;left:0;bottom:0;transform: scaleY(0.5); -webkit-transform: scaleY(0.5);}
#content .moreBox .games .game{flex:1; -webkit-flex:1; box-sizing:border-box; -webkit-box-sizing: border-box; padding-top:0.24rem; }
#content .moreBox .games .game2{border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
#content .moreBox .games .game .game-img{height:1.28rem; width:1.28rem; margin:0 auto; margin-bottom:0.06rem; border-radius:10px;}
#content .moreBox .games .game .txt1{height:0.56rem; line-height:0.56rem; text-align:center; font-size:0.28rem;color:#3c3c3c; }
#content .moreBox .games .game .txt2{height:0.24rem; line-height:0.24rem; text-align:center; font-size:0.24rem;color:#888; margin-bottom:0.18rem; }
#content .moreBox .games .game .txt2 span{color:#ff6f33;}
#content .moreBox .games .game .txt3{height:0.46rem; width:0.94rem; line-height:0.5rem; text-align:center; font-size:0.24rem; color:#ffb033; border:1px solid #ffb033; background:#fffaf3; border-radius:0.46rem; margin:0 auto;}



















