* {margin: 0; padding: 0; border:0 none; outline:none; -webkit-tap-highlight-color:rgba(255,255,255,0);}
html {height: 100%;}
body {width:100%; height:100%; font-family : "Microsoft YaHei",Arial,Helvetica,sans-serif; font-size: 0.24rem; color:#92a1a8;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
input{background:none; border:none; box-shadow: none;-webkit-appearance: none;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}
textarea{-webkit-appearance: none;}
*::-webkit-input-placeholder { color: #a5a8af; }

body{min-width:300px;max-width:640px; margin:0 auto;}
.nav-bar-box{position:fixed;left:0;top:0;height:1.28rem;width:100%;background:#fff;z-index:100;}
.navBar{height:1.28rem;min-width:300px;max-width:640px;margin:0 auto; position:relative;}
.navBar .empty-bar{height:0.4rem;width:100%; background:#fff;}
.navBar .nav-title{ height:0.88rem;width:100%;line-height:0.88rem;text-align:center;font-size:0.32rem;color:#262626;background:#fff; }
.navBar .backBtn{position:absolute;left:0.1rem;top:0.54rem;height:0.4rem;width:0.4rem;padding:0.1rem;}
.navBar .backBtn>img{float:left;height:0.4rem;width:0.4rem;}
#con{padding:0 0.28rem;padding-top:1.28rem; -webkit-box-sizing:border-box;box-sizing:border-box;height:100%; width:100%; background:#eef1f6;}


 .underLine:after{position:absolute;left:0;bottom:0;content:"";display:block;height:1px;width:100%;background:#f1f1f1;transform: scaleY(0.5); -webkit-transform: scaleY(0.5);}
.c-txt{padding-top:0.1rem;height:0.8rem;line-height:0.8rem;color:#a5a8af;}
.inputBox{height:0.84rem;width:100%;box-sizing: border-box;padding:0.1rem 0.24rem;background:#fff;border-radius:5px;}
.inputBox .b-txt{float:left;height:0.64rem;line-height:0.64rem;padding-right:0.44rem; color:#4c505b; }
.inputBox .b-input{float:left;height:0.64rem;line-height:0.64rem;background:transparent;font-size:0.28rem;}
.next-btn{display:block;height:0.74rem;width:5.3rem;margin:0 auto;margin-top:1.04rem;line-height:0.74rem;text-align:center;color:#fff;background:#508cee;border-radius:5px;font-size:0.32rem;}
#con .inputBox1{position:relative;}
#con .inputBox2 .b-input{padding-left:0.24rem;width:2.4rem;}
.errorMessage{line-height:0.48rem;color:red;font-size:0.24rem;}
.error-hide{display:none;}
.inputBox2 .yz-btn{float:right;height:0.64rem;width:1.56rem;line-height:0.64rem;font-size:0.28rem;color:#508cee;text-align:center;background:transparent;}
.inputBox2 .yz-btn-dis{color:#aeaeae;}

.btn-disabled{background:#aeaeae;}






