@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {border: 0 none;font-style: inherit;font-weight: inherit;margin: 0;outline: 0 none;padding: 0;vertical-align: baseline;}
body {background-color: #eef1f6;color: #000;font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;}
* {-webkit-tap-highlight-color:transparent;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-overflow-scrolling:touch;}
*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-box-sizing: border-box;}
ol,ul {list-style: outside none none;}
table {border-collapse: collapse;border-spacing: 0;vertical-align: middle;}
caption,th,td {font-weight: normal;text-align: center;vertical-align: middle;}
a {text-decoration: none;}
a:hover{text-decoration: none;}
img {border:none;}
input:-webkit-autofill,textarea:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; } 
input,textarea{-webkit-appearance: none;outline: none;}

/*1px 边框*/
.one_px_border{width:100%;position: relative;}
.one_px_border:before {content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 1px;border-top: 1px solid #D9D9D9;color: #D9D9D9;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
.one_px_border:after {content: " ";position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;border-bottom: 1px solid #D9D9D9;color: #D9D9D9;-webkit-transform-origin: 0 100%;transform-origin: 0 100%;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}





