* {margin: 0; padding: 0; border:0 none; outline:none; box-sizing: content-box; -webkit-tap-highlight-color:rgba(255,255,255,0);}
html {height: 100%;}
body {width:100%; height:100%; font-family:"microsoft yahei","黑体",Arial, Helvetica, sans-serif; font-size: 0.28rem; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
input{background:none; border:none; box-shadow: none;-webkit-appearance: none;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}
textarea{-webkit-appearance: none;}
*::-webkit-input-placeholder { color: #555; }

body{min-width:300px;max-width:640px; margin:0 auto;}
.conHide{display:none;}
.nav-bar-box{position:fixed;left:0;top:0;height:1.28rem;width:100%;background:#fff;z-index:100;}
.navBar{height:64px;min-width:300px;max-width:640px;margin:0 auto; position:relative;}
.navBar .empty-bar{height:20px;width:100%; background:#fff;}
.navBar .nav-title{ height:44px;width:100%;line-height:44px;text-align:center;font-size:0.32rem;color:#4b505d;background:#fff; }
.navBar .backBtn{position:absolute;left:0.1rem;top:27px;height:20px;width:20px;padding:5px;}
.navBar .backBtn>img{float:left;height:20px;width:20px;}
.navBar .kf-btn{position:absolute;right:15px;top:32px;display:block;height:20px;width:23px;}
.navBar .kf-btn>img{float:left;height:100%; width:100%;}

#con{padding-top:64px;min-height:100%; width:100%; background:#eef1f6; -webkit-box-sizing:border-box;box-sizing:border-box; border-top:0.01rem solid #e5e5e5;}
 .underLine:after{position:absolute;left:0;bottom:0;content:"";display:block;height:1px;width:100%;background:#e5e5e5;transform: scaleY(0.5); -webkit-transform: scaleY(0.5);}

.search-part{height:0.68rem; padding:0.24rem;}
.search-part .p-con{height:0.68rem;width:100%;border-radius:5px;}
.search-part .p-con .txtInput{float:left;height:0.68rem;width:70%;padding:0 0.2rem; background:#fff; box-sizing: border-box; -webkit-box-sizing: border-box;}
.search-part .p-con .txtInput input{float:left;height:0.68rem;line-height:0.68rem;}
.search-part .p-con .s-btn{float:right;height:0.68rem;width:25%;}
.search-part .p-con .s-btn>span{display:block;height:0.6rem;width:80%;max-width:1.5rem;line-height:0.6rem;text-align:center;font-size:0.28rem; margin:0.04rem auto;background:#508cee;color:#fff;border-radius:5px;}
.search-part .p-con .s-btn>span:active{background:skyblue;}

.infoLists{min-height:3.0rem;width:100%;}
.infoLists .info-list{ min-height:1.0rem;width:100%;background:#fff; margin-bottom:0.24rem;}
.infoLists .info-list .l-more{position:relative;display:block;height:0.96rem;padding:0 0.24rem; color:#4c505b;}
.infoLists .info-list .l-more .icon-img{float:left;margin-top:0.3rem;margin-right:0.24rem;height:0.34rem;width:0.32rem;background:url("../images/icon_informatio.png") no-repeat left top; background-size:100% 100%; transform: scale(1.1);}
.infoLists .info-list2 .l-more .icon-img{background:url("../images/icon_business.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list3 .l-more .icon-img{background:url("../images/icon-0002.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list4 .l-more .icon-img{background:url("../images/icon-0003.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list5 .l-more .icon-img{background:url("../images/icon-0004.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list6 .l-more .icon-img{background:url("../images/icon-0005.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list7 .l-more .icon-img{background:url("../images/icon-0006.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list8 .l-more .icon-img{background:url("../images/icon-0007.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list9 .l-more .icon-img{background:url("../images/icon-0008.png") no-repeat left top; background-size:100% 100%;}
.infoLists .info-list10 .l-more .icon-img{background:url("../images/icon-0009.png") no-repeat left top; background-size:100% 100%;}


.infoLists .info-list .l-more .m-txt{float:left;height:0.96rem;line-height:0.96rem;color:#4c505b; }
.infoLists .info-list .l-more .m-txt2{float:right;height:0.96rem;line-height:0.96rem;color:#a5a8af;font-size:0.28rem;}
.infoLists .info-list .l-list{height:auto;padding-left:0.6rem;color:#a5a8af;}
.infoLists .info-list .l-list a{display:block;padding-left:0.2rem;height:0.8rem;line-height:0.8rem;position:relative; color:#a5a8af; font-size:0.26rem;}

.bottom{height:0.8rem;width:5.2rem;padding:0.36rem 0;margin:0 auto;}
.bottom .outLink{float:left;height:0.8rem;width:5.2rem;line-height:0.8rem;text-align:center;border-radius:8px;background:#508cee;font-size:0.36rem;color:#fff;}



