* {margin: 0; padding: 0; border:0 none; outline:none; box-sizing: content-box; -webkit-tap-highlight-color:rgba(255,255,255,0);}
html {height: 100%;}
body {width:100%; height:100%; font-family:"microsoft yahei","黑体",Arial, Helvetica, sans-serif; font-size: 0.28rem; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
input{background:none; border:none; box-shadow: none;-webkit-appearance: none;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}
textarea{-webkit-appearance: none;}
*::-webkit-input-placeholder { color: #555; }

body{min-width:300px;max-width:640px; margin:0 auto;}
.conHide{display:none;}
.nav-bar-box{position:fixed;left:0;top:0;height:1.28rem;width:100%;background:#fff;z-index:100;}
.navBar{height:64px;min-width:300px;max-width:640px;margin:0 auto; position:relative;}
.navBar .empty-bar{height:20px;width:100%; background:#fff;}
.navBar .nav-title{ height:44px;width:100%;line-height:44px;text-align:center;font-size:0.32rem;color:#4b505d;background:#fff; }
.navBar .backBtn{position:absolute;left:0.1rem;top:27px;height:20px;width:20px;padding:5px;}
.navBar .backBtn>img{float:left;height:20px;width:20px;}
.navBar .kf-btn{position:absolute;right:15px;top:32px;display:block;height:20px;width:23px;}
.navBar .kf-btn>img{float:left;height:100%; width:100%;}

#con{padding-top:64px;min-height:100%; width:100%; background:#eef1f6; -webkit-box-sizing:border-box;box-sizing:border-box; border-top:0.01rem solid #e5e5e5;}
.underLine:after{position:absolute;left:0;bottom:0;content:"";display:block;height:1px;width:100%;background:#e5e5e5;transform: scaleY(0.5); -webkit-transform: scaleY(0.5);}

#con .qw-title{padding:0.2rem 0.24rem;line-height:0.44rem;font-size:0.32rem;color:#4c505b;}
#con .as-detail{padding:0.2rem 0.24rem;font-size:0.28rem;color:#a5a8af;line-height:0.42rem;}
#con .as-detail .txt{text-indent: 2em;}


.attitude{position:fixed;left:0;bottom:0;height:1.0rem;width:100%; box-sizing:border-box; -webkit-box-sizing:border-box;padding:0 0.24rem;background:#fff; border-top:0.01rem solid #f1f1f1;}
.attitude .a-part{float:left;height:0.72rem;width:2.6rem;border:0.01rem solid #f1f1f1; border-radius:10px; margin-top:0.14rem;background:#508cee}
.attitude .a-part2{float:right;background:#fff;}
.attitude .a-part .p-con{height:0.46rem;width:1.6rem;margin:0.13rem auto;}
.attitude .a-part .p-con i{float:left;height:0.46rem;width:0.46rem; background:url("../images/icon_Solve.png") no-repeat left top; background-size:100% 100%;}
.attitude .a-part2 .p-con i{background:url("../images/icon_Unresolved.png") no-repeat left top; background-size:100% 100%;}
.attitude .a-part .p-con span{float:right;height:0.46rem;line-height:0.46rem;color:#fff;font-size:0.32rem;}
.attitude .a-part2 .p-con span{color:#a5a8af;}




