@charset "utf-8";
* {margin: 0; padding: 0; border:0 none; outline:none; -webkit-tap-highlight-color:rgba(255,255,255,0)}
html {height: 100%;}
body {width:100%; height:100%; font-family:"microsoft yahei","黑体",Arial, Helvetica, sans-serif; font-size: 0.24rem; color:#888;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}

#con{height:100%; width:100%; background:#eee; position:relative; }
#con .title{height:0.8rem; width:100%; background:#fff; line-height:0.8rem; display:flex; display:-webkit-flex; margin-bottom:0.2rem;}
#con .title .txt{flex:1; -webkit-flex:1; text-align:center; color:#000; font-size:0.28rem;}
#con .title .borderBottom{border-bottom:2px solid #ffcc00;}
#con .con{ min-height:7.0rem; width:94%; margin:0 auto; }
#con .con3 .add-gps{min-height:2.4rem; width:100%; margin-bottom:0.2rem; background:#fff;}
#con .con3 .add-gps .gps-title{height:0.3rem; width:100%; line-height:0.3rem; padding:0.25rem 0; border-bottom:1px solid #797979;}
#con .con3 .add-gps .gps-title .txt{ height:0.3rem; line-height:0.3rem; font-size:0.28rem; width:2.0rem; margin-left:0.2rem; padding-left:0.3rem; border-left:2px solid #ffcc00; }
#con .con3 .add-gps .gps-info{height:1.6rem; width:100%;}
#con .con3 .add-gps .gps-info .gps-txt{ height:0.8rem;width:100%; }
#con .con3 .add-gps .gps-info .gps-txt .txt1{float:left;height:0.8rem;line-height:0.8rem;padding-left:0.5rem; }
#con .con3 .add-gps .gps-info .gps-txt .txt2{float:left;height:0.8rem;line-height:0.8rem; width:4.3rem; padding-left:0.1rem;}


#con .con3 .add-shop{min-height:5.5rem; width:100%; background:#fff;}
#con .con3 .add-shop .shop-title{height:0.3rem; width:100%; line-height:0.3rem; padding:0.25rem 0; border-bottom:1px solid #797979;}
#con .con3 .add-shop .shop-title .txt{height:0.3rem; line-height:0.3rem; font-size:0.28rem; width:2.0rem; margin-left:0.2rem; padding-left:0.3rem; border-left:2px solid #ffcc00;}
#con .con3 .add-shop .pic-info{min-height:3.0rem; width:100%;  }
#con .con3 .add-shop .pic-info .pic{float:left; height:1.7rem; width:50%; margin-bottom:0.3rem; padding-top:0.2rem; position:relative;}
#con .con3 .add-shop .pic-info .pic .pic-det{height:1.7rem; width:2.5rem ; border:1px solid #797979; border-radius:10px; background:#ccc ;position:relative; margin:0 auto;}
#con .con3 .add-shop .pic-info .pic .pic-det>img{height:0.64rem;width:0.64rem; margin:0 auto; padding-top:0.4rem;}
#con .con3 .add-shop .pic-info .pic .txt{height:0.3rem; line-height:0.3rem; width:100%; text-align:center; position:absolute; left:0;bottom:0.15rem;}

#con  .btns{height:0.8rem; width:60%; position:absolute; left:20%; bottom:1.0rem;}
#con  .btns .btn1{float:left;height:0.8rem; line-height:0.8rem; text-align:center; width:1.7rem; background:#fff; border-radius:5px; color:#ffcc00; }
#con  .btns .btn2{float:right;height:0.8rem; line-height:0.8rem; text-align:center; width:1.7rem; background:#ffcc00; border-radius:5px;  color:#fff; }






















