* {margin: 0; padding: 0; border:0 none; outline:none; -webkit-tap-highlight-color:rgba(255,255,255,0)}
html {height: 100%;}
body {width:100%; height:100%; font-family:"microsoft yahei","黑体",Arial, Helvetica, sans-serif; font-size: 0.24rem; color:#888;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}


#con{height:100%;width:100%;background:#edf1f2;}
#con .part1{height:2.22rem;padding:0 0.24rem;padding-top:0.14rem;width:5.92rem;margin:0 auto;background:url("../images/repayment-001.png") no-repeat left top; background-size:100% 100%;}
#con .part1 .txt1{ height:0.78rem;line-height:0.78rem;font-size:0.26rem;color:#fff; }
#con .part1 .txt2{height:0.4rem;line-height:0.4rem;color:#fff;font-size:0.4rem; }
#con .part1 .txt2 .rmb{float:left;height:0.2rem;line-height:0.2rem;padding-top:0.14rem;font-size:0.2rem;margin-right:0.1rem;}
#con .part1 .txt2 .num{float:left;height:0.4rem;line-height:0.4rem;}
#con .part1 .txt3{height:1.04rem;line-height:1.04rem;font-size:0.24rem;color:#fff; }
#con .part2{height:0.88rem;line-height:0.88rem;font-size:0.28rem;color:#999;width:5.92rem;padding:0 0.24rem;margin:0 auto;}
#con .part3{height:0.86rem;width:5.92rem;padding:0 0.24rem;margin:0 auto;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;background:#fff;position:relative;}
#con .part3>span{display:block;height:0.86rem;line-height:0.86rem;width:0.4rem;text-align:center;position:absolute;left:0.24rem;top:0;}
#con .part3 .txtInput{float:left;height:0.86rem;padding-left:0.4rem;line-height:0.86rem;background:transparent;}

#con .remarkTxt1{height:0.8rem; line-height:0.8rem; width:5.92rem; padding:0 0.24rem; display:none;}
#con .remarkTxt1 .txt1{float:left; height:0.8rem; padding-left:0.1rem; line-height:0.8rem; margin-right:0.2rem; }
#con .remarkTxt1 .txt2{float:left; height:0.8rem;line-height:0.8rem; color:#ff7143;}
#con .upBtn{display:block;height:0.8rem;width:4.8rem;line-height:0.8rem;text-align:center;background:#ff7143;border-radius:5px;font-size:0.32rem;color:#fff;margin:0 auto;margin-top:0.6rem;font-family: "microsoft yahei";}


/*还款确认弹窗*/
#layer5{height:5.2rem;width:4.0rem; padding:0 0.4rem; background:transparent; margin:0 auto; border-radius:5px; position:relative;}
#layer5 .box{min-height:3.6rem;width:4.0rem;  background:#fff; margin:0 auto; border-radius:5px; padding-bottom:0.4rem}
#layer5 .box .title{height:1.0rem; line-height:1.0rem; width:100%; text-align:center;font-size:0.32rem;color:#000; font-weight:600;}
#layer5 .box .txt{height:0.5rem;line-height:0.5rem;width:100%;}
#layer5 .box .txt3{height:0.8rem;line-height:0.8rem;color:#000; font-weight:600;border-top:1px solid #ededed;}
#layer5 .box .txt .l-left{float:left;height:0.5rem;width:50%;text-align:right;}
#layer5 .box .txt .l-right{float:right;height:0.5rem;width:50%;text-align:center;}
#layer5 .box .repayBtn{display:block;height:0.58rem;width:2.72rem;line-height:0.58rem;text-align:center;font-size:0.28rem;color:#fff;background:#ff7143;border-radius:5px;margin:0 auto;margin-top:0.3rem;}
#layer5 .closeBtn{display:block; height:0.56rem; width:0.56rem; margin:0 auto;margin-top:0.4rem; background:url("../images/closeBtn.png") no-repeat left top; background-size:100% 100%; }




























