@charset "utf-8";
* {margin: 0; padding: 0; border:0 none; outline:none; -webkit-tap-highlight-color:rgba(255,255,255,0)}
html {height: 100%;}
body {width:100%; height:100%; font-family:"microsoft yahei","黑体",Arial, Helvetica, sans-serif; font-size: 0.24rem; color:#888;}
h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}


#con{min-height:100%;width:100%;background:#e41626;}
#con .top{height:3.26rem; width:100%;}
#con .top .topBg{float:left;height:3.0rem; width:100%;}

#con .con{min-height:1.2rem; width:5.92rem; margin:0 auto; padding-top:0.2rem; background:#fef7d5;}
#con .con .part1{min-height:3.0rem; width:5.6rem; padding:0 0.16rem;  }
#con .con .part1 .txt1{line-height:0.38rem;font-size:0.2rem; color:#000; text-indent:2em; margin-bottom:0.2rem;}
#con .con .part1 .txt2{line-height:0.38rem;font-size:0.2rem; color:#000; text-indent:2em; }

#con .con .part2{min-height:3.0rem; width:4.92rem; margin:0 auto; margin-bottom:0.2rem;}
#con .con .part2 .title{height:0.42rem;line-height:0.42rem;font-size:0.3rem;font-weight:600;color:#e41626;border-bottom:2px solid #e41626;margin-bottom:0.1rem;}
#con .con .part2 .txt{height:0.6rem;width:100%;}
#con .con .part2 .p1{float:left; height:0.36rem; width:1.3rem; line-height:0.36rem; text-align:center; color:#fff; background:#e41626;border-radius:0.18rem;margin-top:0.12rem; margin-right:0.24rem;}
#con .con .part2 .p2{float:left;height:0.6rem;line-height:0.6rem;width:3.38rem;border-bottom:1px dashed #e41626;font-size:0.2rem;color:#000;}

#con .con .part3 .text{padding-left:0.15rem;line-height:0.38rem;font-size:0.2rem;color:#000;}
#con .con .part3{min-height:1.5rem;}
#con .con .part3 .title{margin-bottom:0.2rem;}

#con .con .part6 .txt1 .p2{width:3.45rem; margin-right:0.1rem;font-size:0.18rem;text-align:right;}
#con .con .part6 .txt1 .p1{float:left; margin-right:0}
#con .con .part6 .txt2 .p2{width:3.03rem; margin-right:0.1rem;font-size:0.18rem;text-align:right;}
#con .con .part6 .txt2 .p1{float:left; margin-right:0}
#con .con .part6 .txt3 .p2{width:2.74rem; margin-right:0.1rem;font-size:0.18rem;text-align:right; line-height:0.3rem;}
#con .con .part6 .txt3 .p1{float:left; margin-right:0}
#con .con .part6 .txt4 .p2{width:2.5rem;  margin-right:0.1rem;font-size:0.18rem;text-align:right;}
#con .con .part6 .txt4 .p1{float:left; margin-right:0}

#con .bottom{height:0.87rem;width:5.98rem;margin:0 auto; position:relative;}
#con .bottom .bottomBg{height:1.8rem;width:5.98rem;position:absolute;left:0.2rem;bottom:0;}

.join{display:block; height:1.2rem; line-height:1.2rem; width:100%; text-align:center;font-size:0.30rem;background:rgba(0,0,0,0.5); color:#fff; font-weight:600;position:fixed;left:0;bottom:0;}








